In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv') # oткрываем источник данных

In [3]:
pd.set_option('display.float_format', '{:.2f}'.format) # устанавлиеваем удобный вывод десятичных цифр
data.describe()

            budget       revenue  runtime  vote_average  release_year
count      1889.00       1889.00  1889.00       1889.00       1889.00
mean   54310829.64  155365321.08   109.66          6.14       2007.86
std    48587207.45  214669813.15    18.02          0.76          4.47
min     5000000.00    2033165.00    63.00          3.30       2000.00
25%    20000000.00   34560577.00    97.00          5.60       2004.00
50%    38000000.00   83615414.00   107.00          6.10       2008.00
75%    72000000.00  178262620.00   120.00          6.60       2012.00
max   380000000.00 2781505847.00   214.00          8.10       2015.00

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
genres = {} # создадим словарь для подсчета жанров


data['profit'] = data['revenue']-data['budget'] # создадим колонку с прибылью

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers ['1'] = "Pirates of the Caribbean: On Stranger Tides  (tt1298650)"

In [6]:
# фильтруем записи с максимальным бюджетом и берем 'верхнюю' позицию (0 и 3 столбцы содержат название и ID фильма)
print(data[data['budget'] == data['budget'].max()].iloc[0,3]+"  ({})".format(data[data['budget'] ==\
    data['budget'].max()].iloc[0,0]))

Pirates of the Caribbean: On Stranger Tides  (tt1298650)

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals  (tt0279111)'

In [9]:
# фильтруем записи с максимальной длительносьтю и берем 'верхнюю' позицию (0 и 3 столбцы содержат название и ID фильма)
data[data['runtime']==data['runtime'].max()].iloc[0][3]+'  ({})'.format(data[data['runtime']==\
    data['runtime'].max()].iloc[0][0])

'Gods and Generals  (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3']= 'Winnie the Pooh  (tt1449283)'

In [11]:
# фильтруем записи с максимально короткой длительносьтю и берем 'верхнюю' позицию (0 и 3 столбцы содержат название и ID фильма)
data[data['runtime']==data['runtime'].min()].iloc[0][3]+'  ({})'.format(data[data['runtime']==data['runtime'].min()].iloc[0][0])

'Winnie the Pooh  (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4']= 109.6585494970884

In [13]:
# считаем среднее по столбцу
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5']= 107.0

In [15]:
# считаем медиану по столбцу
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6']= 'Avatar (tt0499549)'

In [17]:
# сортируем таблицу по убыванию прибыли и берем 'верхнюю' позицию (0 и 3 столбцы содержат название и ID фильма)
data.sort_values(['profit'],ascending=False).iloc[0][3] +" ({})".format(data.sort_values(['profit'],ascending=False).iloc[0][0])

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [18]:
answers['7']= 'The Lone Ranger (tt1210819)'

In [19]:
# сортируем таблицу по возростанию прибыли и берем 'верхнюю' позицию (0 и 3 столбцы содержат название и ID фильма)

print (data.sort_values(['profit'],ascending=True).iloc[0,3] +" ({})".format(data.sort_values(['profit'],\
    ascending=True).iloc[0,0]))

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8']= 1478

In [21]:
# фильтруем данные по столбцу пробыли
len(data[data['profit']>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9']= "The Dark Knight  (tt0468569)"

In [23]:
# фильтруем данные по годы, сортируем результат по выручке по убыванию, берем 'верхнюю' позицию 
#(0 и 3 столбцы содержат название и ID фильма)
print(data[data['release_year']==2008].sort_values(['revenue'], ascending = False).iloc[0,3] +\
    "  ({})".format(data[data['release_year']==2008].sort_values(['revenue'], ascending = False).iloc[0,0]))

The Dark Knight  (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10']= "The Lone Ranger  (tt1210819)"

In [25]:
# фильтруем данные по годам, сортируем результат по выручке по возрастанию, берем 'верхнюю' позицию 
#(0 и 3 столбцы содержат название и ID фильма)

print(data[(data['release_year']>2011)&(data['release_year']<2015)].sort_values(['profit'], ascending = True).iloc[0,3]+\
    "  ({})".format(data[(data['release_year']>2011)&(data['release_year']<2015)].sort_values(['profit'],ascending = True).iloc[0,0]))

The Lone Ranger  (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama'

In [27]:
# формируем словарь для подсчета упомяняний жанров (альтeрнатива collection.Counter), пробегаемся по столбцу и считаем 
# кол-во вхождений жанров

genres = {} # обнуляем список (для дебагинга)
for genres_line in data['genres']: # цикл прохождения по значениям колонки
    for genre in genres_line.split("|"): # цикл прохождения по отдельным жанрам 
        if genre in genres: # если жанр уже присутсттвуем в словаре
            genres[genre]=genres[genre]+1 # увеличиваем счетчик
        else:  # иначе вводим новый жанр в словарь
            genres[genre]=1

print (list(genres.keys())[list(genres.values()).index(max(genres.values()))], max(genres.values())) # выводим результат

Drama 782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = 'Drama'

In [29]:
# фильтруем только прибульные фильмы, формируем словарь для подсчета упомяняний жанров 
#(альтeрнатива collection.Counter), пробегаемся по столбцу и счетаем кол-во вхождений жанров

data2 = data[data['profit']>0] # формируем времменный датафрей с отфилтрованными прибыльными фильмами
genres = {} # обнуляем список (для дебагинга)
for genres_line in data2['genres']: # цикл прохождения по значениям колонки
    for genre in genres_line.split("|"): # цикл прохождения по отдельным жанрам 
        if genre in genres: # если жанр уже присутсттвуем в словаре
            genres[genre]=genres[genre]+1 # увеличиваем счетчик
        else:  # иначе вводим новый жанр в словарь
            genres[genre]=1

print (list(genres.keys())[list(genres.values()).index(max(genres.values()))], max(genres.values())) # выводим результат

Drama 560

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
answers['13'] = 'Peter Jackson'

In [31]:
# решение без знания explode: формируем ортедельный словарь с режисерами (ключ) и кол-вом упомянаний в фильмах (значение),
#затем пробегаемся по нему и замeняем значения на сумму выручки отфильтрованных по вхождению имени режисера записей 
temp=data['director'] # создаем временный Series 
directors = {} # обнулям целевой словарь (для дебагинга)

for item in temp: # цикл пробега по значениям столбца
    for sub_item in item.split("|"): # цикл пробега по отдельным режисерам
        directors.setdefault(sub_item, 0) # устанавливаем значение по умолчанию
        directors[sub_item]+=1 # увеличиваем счетчик (не обязательно)

for key, value in directors.items(): # цикл пробега по созданному словарю
    # фильтруем в основном датафрейме все записи по очередному режисеру, суммирую выручку
    directors[key] = data[data['director'].str.contains(key)]['revenue'].sum() 
    
# сортируем словарь по значениям по убыванию
directors=sorted(directors.items(), key=lambda x: x[1], reverse=True)

# выводим верхнюю позицию
print (directors[0][0], directors[0][1])

Peter Jackson 6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez'

In [33]:
# Не справился, подсмотрел у коллег.

data2 = data[data["genres"].str.contains("Action")] # oтфильтровываем записи к тороых есть нужный жанр
data2=data2['director'].str.cat(sep='|') # превращаем все в одну строку
data2=pd.Series(data2.split('|')) # создаем Series разделяя строку по '|'
data2.value_counts().index[0] # считаем количество элементов строке и выводим 'верхний' индекс

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = 'Chris Hemsworth'

In [35]:
data2=data.copy() # делаем копию
data2=data2[data2['release_year']==2012] # фильтруем фильмы с заданным годом выпуска
data2['cast']=data2['cast'].str.split('|') # меняем значение колонки на список
data2 = data2.explode('cast') # разбиваем таблицу по столбцу с актерами
data2.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).index[0] # групируем данные по столбцу актеры
# суммируя вырочку, сортируем результат по убыванию, выводим нулевой индекс

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = 'Johnny Depp'

In [37]:
data2=data.copy()# делаем копию
data2=data2[data2['budget']>data2['budget'].mean()] # фильтруем фильмы с бюджетом выше среднего
data2['cast']=data2['cast'].str.split('|')# меняем значение колонки на список
data2=data2.explode('cast') # разбиваем таблицу по столбцу с актерами
data2.groupby(['cast'])['imdb_id'].count().sort_values(ascending=False).index[0]# групируем данные по столбцу актеры
# суммируя кол-во записей, сортируем результат по убыванию, выводим нулевой индекс

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = 'Action'

In [39]:
data2=data[data['cast'].str.contains('Nicolas Cage')] # фильтруем фильмы с участием нужного актера
data2 = data2['genres'].str.cat(sep='|') # превращаем все в одну строку
pd.Series(data2.split("|")).value_counts().index[0] # создаем Series разделяя строку по '|',
# считаем количество элементов строке и выводим 'верхний' индекс

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker'

In [41]:
# фильтруем фильмы от Paramount Pictures забирая нужные столбцы, сортируем по возрастанию по стобцу прибыли, 
# берем первый столбец верхний строки
data[data['production_companies'].str.contains('Paramount Pictures')][['imdb_id', 'original_title', 'profit']].sort_values\
    ('profit', ascending=True).iloc[0,1]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '2015'

In [43]:
# группируем данные по столбцу года выпуска сумируя вырочку, сортируем по вырочке по убыванию, берем верхний индекс
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = '2014'

In [45]:
# фильтруем записи нужной компании, групируем результат по году выпуска суммируя выручку, сортируем по году, 
# берем верний индекс
data[data['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['revenue'].sum().\
    sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = 9

In [47]:
data2=data.copy() # делаем копию
data2['month'] = data['release_date'].apply(lambda x: int(x[:x.find("/")])) # вычлениям месяц выпуска и формируем новый столбец
data2['month'].value_counts().sort_values(ascending = False).index[0] # суммируем вхождения, сортируем по кол-ву вхождений, 
#берем верхнее значение

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = 450

In [49]:
data2=data.copy() # делаем копию
data2['month'] = data['release_date'].apply(lambda x: int(x[:x.find("/")])) # вычлениям месяц выпуска и формируем новый столбец
len(data2[(data2['month']>5)&(data2['month']<9)]) # фильтруем летние месяцы и считаем кол-во строк

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
answers['23'] = 'Peter Jackson'

In [51]:
data2=data.copy() # делаем копию
data2['month'] = data['release_date'].apply(lambda x: int(x[:x.find("/")])) # вычлениям месяц выпуска и формируем новый столбец
data2= data2[(data2['month']<3) | (data2['month']==12)] # фильтруем зимние месяцы и считаем кол-во строк
data2['director'] = data2['director'].str.split('|')# меняем значение колонки на список
data2 = data2.explode('director') # разбиваем таблицу по столбцу с режисерами
data2['director'].value_counts().index[0] # сумируем число записей по столбцу режисеров, и выводим наибольший индекс

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
answers['24'] = 'Four By Two Productions'

In [53]:
data2=data.copy() # делаем копию
data2['title_length'] = data2['original_title'].apply(lambda x: len(x))  # создаем колонку с длительностью фильмов
data2['production_companies'] = data2['production_companies'].str.split("|") # меняем значение колонки на список
data2=data2.explode("production_companies") # разбиваем таблицу по столбцу с компаниями
data2.groupby('production_companies')['title_length'].agg(['sum', 'mean', 'max']).sort_values\
    ('mean', ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
answers['25'] = 'Midnight Picture Show'

In [55]:
data2=data.copy(deep=True) # делаем копию

data2['title_length'] = data2['overview'].apply(lambda x: len(x.split())) # создаем колонку с кол-вом слов в описании

data2['production_companies'] = data2['production_companies'].str.split('|') # меняем значение колонки на список
data2=data2.explode('production_companies') # разбиваем таблицу по столбцу с компаниями
data2.groupby('production_companies')['title_length'].agg(['max', 'mean','sum']).sort_values("mean", ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [56]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [57]:
# выводим топ 19 фильмов, ищем в ответаь. Дурацкое, плохо сформучлированное с неоднозначным ответом (без ответа - неправерить) задание.
data.sort_values('vote_average', ascending = False)['original_title'].head(19)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] = 'Daniel Radcliffe|Rupert Grint'

In [59]:
# сам не справился - подсмотрел подход у коллег 
mydict={} # создаем/обнуляем временный словарь
mydict=Counter() # словарь для подсчета значений
data2=data.copy(deep=True) # делаем копию

data2['cast']=data2['cast'].str.split("|") # формируем спискок из строки с актерами

for item in range (0, len(data2)): # цикл пробега по датафрейму
    mylist = pd.Series(data2.iloc[item]['cast']) # временный Series с отдельными актерами в текушей строке
    for actors in itertools.combinations(data2.iloc[item]['cast'], 2): # цикл пробега по временному Series
        tag=actors[0]+"|"+actors[1] # формируем строку которая будет использоваться как ключ для словаря с результатми
        if tag not in mydict: mydict[tag]=1 # если в словаре нет записи с таким ключом - она создается
        else: mydict[tag]=mydict[tag]+1 # если в словаре есть такая запись - счетким ее увеличивается на один
sorted(mydict.items(), key=lambda x: x[1], reverse= True) [0][0] #сортируем словарь по значению, по уменьшению, выводим верхний элемент

'Daniel Radcliffe|Rupert Grint'

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': 'Gods and Generals  (tt0279111)',
 '3': 'Winnie the Pooh  (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight  (tt0468569)',
 '10': 'The Lone Ranger  (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Johnny Depp',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe|Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27